<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>

<body>
    <div class="body container">
        <div class="card">
            <div class="card-action">
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Channel Title</th>
                            <th>Published At</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            <td>{{ video.title }}</td>
                            <td>{{ video.channelTitle }}</td>
                            <td>{{ video.publishedAt }}</td>
                            <td>{{ video.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if videos.has_other_pages %}
        <ul class="pagination">
            {% if videos.has_previous %}
            <li><a href="?page={{ videos.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %} {% for i in videos.paginator.page_range %} {% if videos.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
            </li>
            {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if videos.has_next %}
            <li><a href="?page={{ videos.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</body>

</html>